/* 
CSS for the basic html */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    

}

.srch
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 39%;
    border-radius: 24px;
    height: auto;

    height: 34px;
    /* background-color: transparent;
    border: none; */
    font-family: arial,sans-serif;

} 
.srch:hover{
border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
.srch:focus{
border-color:#4d90fe;
}

.mic{
height: 24px;
width: 24px;
display: block;
/* margin-left: auto;
margin-right: 30%;
align-items: center; */
/* margin: auto; */
position: absolute;
top: 39%;
right: 31%;





 
}
.search_icon{
height: 24px;
width: 24px;
display: block;
position: absolute;
top: 39%;
left: 30.9%;
}
.gmail{
display: inline-blocblovk;
line-height: 33%;
position: absolute;
top: 2.5%;
right: 15%;
text-decoration: none;
color:rgba(0,0,0,0.87);
font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-variant-east-asian: normal;
font-weight: normal;
font-stretch: normal;
font-size: 13px;
line-height: 27px;
font-family: Roboto, RobotoDraft, Arial, sans-serif;
}
.gmail:hover{
text-decoration: underline;
}
.sign_in{
display: inline-blocblovk;
line-height: 33%;
position: absolute;
top: 1.7%;
right: 0.5%;
text-decoration: none;

background: #1a73e8;
border: 1px solid transparent;
font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: .25px;
line-height: 16px;
margin-left: 10px;
margin-right: 8px;
min-width: 96px;
padding: 9px 23px;
text-align: center;
vertical-align: middle;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: white;
}
.sign_in:hover{
background: lightblue;
}
.google_apps{
position: absolute;
top: 1.7%;
right: 8%;
padding: 8px;
cursor: pointer;
display: inline-block;
outline: none;
vertical-align: middle;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 40px;
width: 40px;
color: #000;
cursor: pointer;
text-decoration: none;
}
.google_apps:hover{
background: gray;

}
.img{
position: absolute;
top: 2.5%;
right: 10%;
display: inline-block;
line-height: 24px;
vertical-align: middle;
color: rgba(0,0,0,0.87);
text-decoration: none;
font-family: arial,sans-serif;
line-height: normal;
padding-right: 15px;
color:rgba(0,0,0,0.87);
font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-variant-east-asian: normal;
font-weight: normal;
font-stretch: normal;
font-size: 13px;
line-height: 27px;
font-family: Roboto, RobotoDraft, Arial, sans-serif;
}
.img:hover{
text-decoration: underline;
}
.g_search{
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
position: absolute;
left: 40.5%;
top:50%;

}
.doodles{
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
position: absolute;
left: 50%;
top:50%;

}
.country{
padding: 15px 30px;
border-bottom: 1px solid #dadce0;
font-size: 15px;
color: rgba(0,0,0,.54);
display: block;
position: absolute;
bottom: 9%;
width: 1450px;
text-align: left;
font-family: arial,sans-serif;
}
.about_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
left: 3%;
font-size: 14px;
font-family: arial,sans-serif;

}
.advertising_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
left: 8%;
font-size: 14px;
font-family: arial,sans-serif;


}
.business_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
left: 16%;
font-size: 14px;
font-family: arial,sans-serif;

}
.hsw_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
left: 23%;
font-size: 14px;
font-family: arial,sans-serif;
}
.privacy_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
right: 13%;
font-size: 14px;
font-family: arial,sans-serif;  
}
.terms_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
right: 8%;
font-size: 14px;
font-family: arial,sans-serif; 
}
.settings_g{
color: #70757a;
text-decoration: none;
position: absolute;
bottom: 3%;
right: 2%;
font-size: 14px;
font-family: arial,sans-serif; 
}
.about_g:hover{
text-decoration: underline;
}
.advertising_g:hover{
text-decoration: underline;
}
.business_g:hover{
text-decoration: underline;
}
.hsw_g:hover{
text-decoration: underline;
}
.privacy_g:hover{
text-decoration: underline;
}
.terms_g:hover{
text-decoration: underline;
}
.settings_g:hover{
text-decoration: underline;
}